*

!*.md
!LICENSE
!MANIFEST.in
!Makefile
!pyproject.toml
!setup.cfg
!pytest.ini
!tox.ini
!pylintrc
!lektor/**
!tests/**
!example/**

lektor/admin/static/gen/**
__pycache__
node_modules
*~
*.pyc
*.pyo
