.DS_Store
*~
*.pyc
*.egg-info
*.pex
.cache
#*
build
dist
venv
lektor/admin/static/gen
example-project

coverage/
.coverage
coverage.xml
coverage.lcov
.nyc_output
.pytest_cache

node_modules
gui/build
gui/node_modules
gui/static/gen
