.DS_Store
*~
*.pyc
*.egg-info
*.pex
.cache
#*
build
dist
venv
lektor/admin/static
example-project

coverage/
.coverage
.coverage.*
coverage.xml
coverage.lcov
.nyc_output
.pytest_cache
.tox

node_modules
