# NB: Everything in git gets automatically included by setuptools_scm
#     We only need to include the built frontend JS, CSS and fonts
#     and exclude development-related files.

prune frontend
graft lektor/admin/static

prune .github
exclude .codecov.yml
exclude .editorconfig
exclude .git-blame-ignore-revs
exclude .gitignore
exclude .pre-commit-config.yaml
exclude Makefile

prune example
