# Run requirements
Jinja2>=2.4
click>=6.0
watchdog
mistune>=0.7.0
Flask
EXIFRead
inifile
Babel
setuptools
pip
requests[security]
# Test requirements
pytest
pytest-cov
pytest-mock
pytest-click
pytest-pylint