{% extends "base.html" %}
{% block title %}Lektor Admin{% endblock %}
{% block body %}
  <div id=dash>
    <div class=loadbox>
      <p>Loading Interface ...</p>
      <noscript>You must enable JavaScript to use the editing interface.</noscript>
    </div>
  </div>
  <script type=text/javascript>
    var $LEKTOR_CONFIG = {{ lektor_config|tojson }};
  </script>
{% endblock %}
{% block scripts %}
  {{ super() }}
  <script type=text/javascript src="{{ url_for('static', filename='app.js') }}"></script>
{% endblock %}
