<!doctype html>
<meta charset="utf-8">
<link rel="stylesheet" href="{{ '/static/style.css'|asseturl }}">
<link rel="stylesheet" href="{{ get_pygments_stylesheet()|url }}">
<link rel="icon" href="{{ '/static/favicon.png'|asseturl }}">
<title>{% block title %}Welcome{% endblock %} — Example</title>
<body>
  <header>
    <a href="{{ site.root|url }}" style="text-decoration: none;">
      <img class="logo" src="{{ site.root.attachments.images.get('logo.png').thumbnail(250)|url }}">
      <h1 class="logo">Example</h1>
    </a>
    <nav>
      <ul class="nav navbar-nav">
        Basic Nav:
        <li{% if this._path == '/' %} class="active"{% endif
          %}><a href="{{ '/'|url }}">Welcome</a></li>
        {% for href, title in [
          ['/blog', 'Blog'],
          ['/projects', 'Projects'],
          ['/about', 'About']
        ] %}
          <li{% if this.is_child_of(href) %} class="active"{% endif
            %}><a href="{{ href|url }}">{{ title }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </header>
  
  <div class="page">
    {% if this._path == '/' %}
      <ul>
        Available alts:
        {% for alt in get_alts() %}
          <li style="display: inline;">
            <a href="{{ '.'|url(alt=alt) }}">{{ alt }}</a>
          </li>
        {% endfor %}
      </ul>
      {{ this.alt_note }}
    {% endif %}

    {% block body %}{% endblock %}
  </div>
  <footer>
    Recursive tree navigation of this example site:
    <ul class="tree-nav">
      {% set root = site.get('/') %}
      <li>
        <a href="{{ root|url }}">{{ root.title }}</a>
      </li>
      {% for child in root.children recursive %}
        {% if child.title %}
          <li>
            <a href="{{ child|url }}">{{ child.title }}</a>
          </li>
        {% endif %}
        {% if child.children %}
          <ul>{{ loop(child.children) }}</ul>
        {% endif %}
      {% endfor %}
    </ul>

    &copy; Copyright 2015 by Armin Ronacher.
  </footer>
</body>
