/* sidebar toggle button */
.navbar-toggle {
  float: left;
  padding: 4px;
  margin-top: 8px;
  z-index: 999999;
  border: 1px solid $toggle-group-color;
  background: white;
  height: 20px;
  width: 20px;
  display: none;

  &:hover {
    border-color: #aaa;
  }

  &.active {
    background: $panel-border-color;
    .icon-list {
      background: white;
    }
  }

  .icon-list {
    display: block;
    height: 2px;
    width: 100%;
    background: $primary;
    margin: 0 0 2px 0;
  }
}

header {
  height: 38px;
  margin: 0 auto;
  padding: 0;
  background: $header-taint;

  a {
    color: $header-link-color;
    text-decoration: underline;

    &:hover {
      color: $header-link-hover-color;
    }
  }

  ul.breadcrumb {
    margin: 0;
    margin-top: 7px;
    z-index: 9000;

    li.missing-record-crumb a {
      color: #888;
    }

    li:before {
      color: $header-sep-color;
    }

    li.new-record-crumb {
      margin-left: 0.5rem;

      a {
        background: $block-item-background;
        padding: 1px 5px;
        font-weight: bold;
        border: 1px solid $header-taint;
        color: $block-item-color;
        border-radius: $panel-radius;
        text-decoration: none !important;

        &:hover {
          background: $block-item-active-background;
          color: $block-item-active-color;
          border-color: $block-header-background;
          text-decoration: none;
        }
      }
    }
  }
  .global-actions {
    margin-top: 3px;
  }
}
