/* collapsed sidebar styles */
@media screen and (max-width: (map-get($grid-breakpoints, "sm") - 1)) {
  .navbar-toggle.navbar-toggle {
    display: initial;
  }

  .block-offcanvas,
  .sidebar {
    transition: all 0.25s ease-out;
  }
  .block-offcanvas {
    position: relative;
    left: 0;
  }
  .block-offcanvas.active {
    left: 45%;
  }
  .block-offcanvas .sidebar {
    left: -45%;
  }

  .block-offcanvas nav {
    opacity: 0;
  }
  .block-offcanvas.active nav {
    opacity: 1;
  }

  .sidebar {
    position: absolute;
    top: 0;
    width: 45%;
  }
}
