/* collapsed sidebar styles */
@media screen and (max-width: (map-get($grid-breakpoints, "sm") - 1)) {
  .navbar-toggle.navbar-toggle {
    display: initial;
  }

  .block-offcanvas {
    position: relative;
    transition: all 0.25s ease-out;
    left: 0;
  }
  .sidebar {
    position: absolute;
    width: 40vw;
    left: -40vw;
  }
  .block-offcanvas.active {
    left: 40vw;
  }
}
