name: Upload Python Package on tags

on:
  push:
    tags:
      - "v*"

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-python@v5
        with:
          python-version: 3.x
      - uses: actions/setup-node@v4
        with:
          node-version: "lts/*"
      - name: Build frontend
        run: |
          (cd frontend && npm ci)
          make
      - name: Install dependencies
        run: python -m pip install tox twine
      - name: Double-check that git status is clean
        run: test -z $(git status --porcelain)
      - name: Build release artifacts
        run: tox -e build-dist
      - name: Publish release
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
        run: |
          python -m twine upload dist/*
